body{
    background-color: lightblue;
}

img{
    width: 100px;
    height: auto;
    margin: 10px;
}

#productChoices{
    display: block;
    /* background-color: white; */
}

#chart{
    height: 300px;
    width: 200px;
}